<div class="input-group mb-3">
  <input class="form-control" type="text" [(ngModel)]="thema.name" placeholder="Theme name" />
  @if (thema.id === 0) {
    <button (click)="pressButton()" class="btn btn-warning">Add a new theme</button>
  } @else {
    <button (click)="saveEdit()" class="btn btn-primary">Save</button>
    <button (click)="canselEdit()" class="btn btn-secondary">Cansel</button>
    <button (click)="pressDelete()" class="btn btn-danger">Delete</button>
  }
</div>
<table class="table table-light table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (themeItem of themas(); track themeItem.id) {
      <tr>
        <td>{{ themeItem.id }}</td>
        <td>
          {{ themeItem.name }}
        </td>
        <td>
          <button (click)="startEdit(themeItem)" class="btn btn-success">Change</button>
        </td>
      </tr>
    }
  </tbody>
</table>
