<h1>Create a new card</h1>
<form [formGroup]="form">
  <!-- Word -->
  <div>
    <label for="word">Word:</label>
    <input id="word" [formControl]="form.controls.word" placeholder="Write the word" />
  </div>
  @if(form.controls.word.touched && form.controls.word.errors?.["required"]){
    <div class="text-start ms-2 text-danger">
      Field is required!
    </div>
  }

  <br />

  <!-- Translation -->
  <div>
    <label for="translate">Translation:</label>
    <input id="translate" [formControl]="form.controls.transWord" placeholder="Write the translation" />
  </div>

  <br />

  <!-- Plural -->
  <div>
    <label for="plural">Plural:</label>
    <input
      id="plural" [formControl]="form.controls.plural"
      placeholder="Write the plural form of the word"
    />
  </div>

  <br />

  <!-- Themes -->
  <h3>Choose themes</h3>
  <button (click)="themasBtn()" class="btn btn-success">Choose the themes</button>

  <br />

  <!-- Buttons -->
  <div>
    <button type="button" (click)="createButton()" [disabled]="form.invalid" class="btn btn-success">Save a card</button>

    <button type="button" routerLink="/thema" class="btn btn-secondary">Cancel</button>

    @if (card().id) {
      <button type="button" (click)="pressDelete()" class="btn btn-danger">Delete</button>
    }
    <h3>Chosen themes</h3>
    {{ selectedThemas().map((t) => t.name) }}
  </div>
</form>
